<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ConsoliDate</title>
</head>

<body>
  <script>
    var loadFile = function (event) {
      var image = document.getElementById('output');
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
  <form method="GET">
    <p><input type="text" /></p>
    <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)"></p>
    Test

    <!-- Uncomment both below and comment line above to hide choose a file button and have clickable text instead (custom choose file button) -->
    <!-- <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p> -->
    <!-- <p><label for="file" style="cursor: pointer;">Upload Image</label></p> -->

    <p><img id="output" width="200" /></p>
    <input type="submit" />
  </form>
</body>

</html>
